extends layout

block content

  .container
    p.lead Using 4/7 buddy passes
    ul.list-group
      li.list-group-item.list-group-item-info
        | Joyce Leifer
        small.pull-right
          em family
      li.list-group-item.list-group-item-info
        | Ben Schenck
        small.pull-right
          em family
      li.list-group-item.list-group-item-info
        | Cheryl Levin
        small.pull-right
          em friend
      li.list-group-item.list-group-item-warning.disabled
        | James Schenck
        small
          em pending
        small.pull-right
          em family
      - for (var i = 0; i < 3; i++)
        li.list-group-item 
          a(href="/buddy") + Buddy
      //- li.list-group-item + Buddy
      //- li.list-group-item + Buddy
