extends layout

block content

    .container
      img.logo(src='../assets/images/logo.png', alt='Roll Logo')
      
      hr
      p.lead.text-center Welcome Buddy!
      //- p Search flights and add friends and family to your buddy list here. 
      hr
      // TODO: remove brs
      a.btn.btn-lg.btn-primary.btn-block.ro-dash-btn(href="/search") 
            i.fa.fa.fa-plane.ro-icon-lg
            | &nbsp;Search Flights
      a.btn.btn-lg.btn-primary.btn-block.ro-dash-btn(href="/listings")
            i.fa.fa.fa-list.ro-icon-lg
            | &nbsp;See Listed Flights
      br
      hr
      p.text-center 
            a(href="") Sign out
