extends layout

block content
  include nav
  
  .container.ro-with-nav
    br
    p.lead.text-center.ro-lead-lg Add a Buddy
    form
      .ro-input-group
        input.form-control(type='text', placeholder='Name', autofocus='')
        input.form-control(type='email', placeholder='Email', autofocus='')
      // TODO: remove these brs
      br
      select.form-control
        option(value='') Relationship
        option(value='') Friend
        option(value='') Family
      br
      br
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Add Buddy

