extends layout

block content
    .container
        img.logo(src='../assets/images/logo.png', alt='Roll Logo')
        hr
        p.lead Hey, Buddy!
        p Sign in using your email and the secure password you received via email.
        p Don't have a login? An airline employee can give you access.
        hr
        form.ro-form-signin
            
            .ro-input-group
                input.form-control(type='text', placeholder='Email address')
                input.form-control(type='password', placeholder='Password')
            
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        br

        p.text-center
            a(href='#') Forgot your password?
        