extends layout

block content

    .container
      img.logo(src='../assets/images/logo.png', alt='Roll Logo')
      form.form-signin
        h2.form-signin-heading Hey Buddy
        a.btn.btn-lg.btn-primary.btn-block(href="/search")
          i.fa.fa.fa-plane.ro-icon-lg
              | &nbsp;Search Flights
    a.btn.btn-lg.btn-primary.btn-block.ro-dash-btn(href="/listings")
            i.fa.fa.fa-list.ro-icon-lg
              | &nbsp;See Listed Flights