extends layout

block styles
    style.
        .calendar { float: left; width: 150px; }
        .day { border: 1px solid purple; height: 15px; width: 15px; float: left; }
        .purple { background-color: purple; }


block scripts
    script(type="text/javascript", src="/assets/js/vendor/jquery-1.11.0.min.js").

    script.
        $(function () {
            var $m, $n;
            $('.day').on('click', function () {
                var $c;
                if (!$m)
                    $c = $m = $(this);
                else if (!$n)
                    $c = $n = $(this);
                else {



                }

                $c.addClass('purple');
            });
        });

block content



    .calendar
        - for (var i = 0; i < 5; i++)
            - for (var j = 0; j < 7; j++)
                .day #{j + i * 7}