p.ro-lead-lg.text-center 
    i.fa.fa-calendar&nbsp;&nbsp;
    | March 2 - 15
.text-center.sye-calendar
    table.table.table-bordered
      thead
        tr
          th Sun
          th Mon
          th Tue
          th.active Wed
          th Thu
          th Fri
          th Sat
      tbody
        tr
          td 2
          td 3
          td 4
          td 5
          td 6
          td 7
          td 8
        tr
          td 9
          td 10
          td 11
          td 12
          td 13
          td 14
          td 15