extends layout

block header

    .container.text-center
      img.logo(src='/assets/images/logo.png', alt='Roll Logo')
      h2.form-signin-heading Hey Employee
      p.lead Please sign in.


block content

    #{JSON.stringify(flash)}

    .container.text-center
      form.form-signin(action="/employee/login", method="POST")
        input.form-control(type='text', placeholder='Email address')
        input.form-control(type='password', placeholder='Password')
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
      p.text-center
        a(href='dashboard.php') Forgot your password?
