extends layout

block content

    .container
      img.logo(src='../assets/images/logo.png', alt='Roll Logo')
      
      hr
      p.lead.text-center Welcome #{name}!
      //- p Search flights and add friends and family to your buddy list here. 

      a.btn.btn-lg.btn-primary.btn-block.ro-dash-btn(href="/search") 
            i.fa.fa.fa-plane.ro-icon-lg
            | &nbsp;Search Flights
      a.btn.btn-lg.btn-primary.btn-block.ro-dash-btn(href="/listings")
            i.fa.fa.fa-list.ro-icon-lg
            | &nbsp;See Listed Flights
      a.btn.btn-lg.btn-primary.btn-block(href="/buddies") 
            i.fa.fa.fa-group.ro-icon-lg
            | &nbsp;Manage Buddies
      br
      hr
      p.text-center 
            a(href="/logout") Sign out