extends layout

block header

    .container
        img.logo(src='/assets/images/logo.png', alt='Roll Logo')
        br
        .well.well-sm
            p.lead Hey, Employee!
            p Sign up to search flights and add friends and family to your buddies list. Already a member? 
                a Login here.


block content

    .container
        
        #{JSON.stringify(flash)}

        form.form-signin(action="/employee/login", method="POST")

            .ro-input-group
                input.form-control(type='text', placeholder='Email address')
                input.form-control(type='password', placeholder='Password')
            
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        br
        p.text-center
            a(href='dashboard.php') Forgot your password?
