extends layout

block content


    .container
      img.logo(src='../assets/images/logo.png', alt='Roll Logo')
      h2 Hey Employee
      // TODO: remove brs
      br
      a.btn.btn-lg.btn-primary.btn-block(href="/search")  Search Flights
      br
      button.btn.btn-lg.btn-primary.btn-block(type='submit') See Listed Flights
      br
      a.btn.btn-lg.btn-primary.btn-block(href='/buddies') Manage Buddies
