extends layout

block header

    .container
        img.logo(src='/assets/images/logo.png', alt='Roll Logo')
        br
        
        hr
        
        .alert
            p.lead Hey employee!
            p Sign in to manage your buddies and search flights.
            p.lead Not a member yet? 
            aSign up here.
        hr
        

block content

    .container
        
        #{JSON.stringify(flash)}

        form.form-signin(action="/employee/login", method="POST")

            .ro-input-group
                input.form-control(type='text', placeholder='Email address')
                input.form-control(type='password', placeholder='Password')
            
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
            br
        p.text-center
            a(href='dashboard.php') Forgot your password?