extends layout

block content
  include nav
  
  .container.ro-with-nav

    .row.ro-full-width.ro-top-indicator.text-center.navbar-fixed-top
      strong.lead AUS → NYC, Mar 3
      
  ul.list-group.ro-list.text-center.lead

    - for trip in trips

      include row
    //- include row
    //- include row
    //- include row
    //- include row
    //- include row
    //- include row
    //- include row
    //- include row
    //- include row
    //- include row
    //- include row
    //- include row
    //- include row


    // Repeat

    // End repeat