extends layout

block content


    .container

    	h1 hello
      .well.well-sm.ro-full-width
        | AUS → NYC, Mar 3

      // TODO: add arrow indicators on right of list items

      ul.list-group.ro-list.text-center

        - for trip in trips

          include row

        // Repeat

        // End repeat