extends layout

block content

	.container
		img.logo(src='assets/images/logo.png', alt='Roll Logo')
		hr
		
		.alert.ro-welcome
			p.lead Welcome! Time to roll out.
			p Sign in as an airline employee to search for standby flights and add buddies to your list.
		hr
		
		a.btn.btn-lg.btn-primary.btn-block(href="/employee/login") Employee
		
		br
		a.btn.btn-lg.btn-primary.btn-block(href="/buddy/login") Buddy
