extends layout

block content

	.container
		img.logo(src='assets/images/logo.png', alt='Roll Logo')
		p.lead Are you a...
		a.btn.btn-lg.btn-primary.btn-block(href="/employee/login") Employee
		br
		a.btn.btn-lg.btn-primary.btn-block(href="/buddy/login") Buddy



block content
	#hero
		h1 Sideproject helps you be awesome.
		button Start a Project
		button Find a Project