extends layout

block content
  include nav
  
  .container.ro-with-nav

    .row.ro-full-width.ro-top-indicator.text-center.navbar-fixed-top
      // TODO: remove this space
      strong.lead Listed Flights

  ul.list-group.ro-list

    - for listing in listings

      include listing


    // Repeat

    // End repeat