nav.navbar.navbar-default.ro-nav.navbar-fixed-top(role='navigation')
	.container
		//- TODO: Inline JS, sorry
		a.pull-left.ro-arrow-nav(href='#', onclick="window.history.back()")
			i.fa.fa-angle-left
		a(href="/buddy/dashboard")
			img.ro-nav-logo(src="/assets/images/nav-logo.png", height="40")