li.list-group-item.list-group-item-danger
	.col-xs-3
		| 15
		br
		small Available
	.col-xs-3
		| 6
		br
		small Listed
	.col-xs-4
		small 6:00am
		br
		small 100 seats
	.col-xs-1.text-center
		i.fa.fa-angle-right.ro-icon-lg