
li.list-group-item.list-group-item-danger
    .col-xs-3
        | #{trip.available}
        br
        small Available
    .col-xs-3
        | #{trip.listed.length}
        br
        small Listed
    .col-xs-4
        small 6:00am
        br
        small #{trip.capacity} seats
    .col-xs-1.text-center
        a(href="/flight/#{trip.id}")
          i.fa.fa-angle-right.ro-icon-lg