extends layout

block header

	include nav

block content

		.container

			form(action="/search", method="POST")

				input.form-control(type='text', placeholder='Airline', value="American")
				br

				.ro-input-group
					input.form-control(type='text', name="from", placeholder='Leaving from...', value="DFW")
					input.form-control(type='text', name="to", placeholder='Traveling to..', value="LGA")
					input(type="hidden", name="depart", value="2014-03-04")
				br

				.text-center
					h1 Calendar here

				input.btn.btn-primary.btn-lg.btn-block(type='submit', value='Search Flights')
