extends layout

block header

	include nav

block content

		.container
			
			form
		
				input.form-control(type='text', placeholder='Airline')
				br
				
				.ro-input-group
					input.form-control(type='text', placeholder='Leaving from...')
					input.form-control(type='text', placeholder='Traveling to..')
				br

			.text-center
				h1 Calendar here
				
			input.btn.btn-primary.btn-lg.btn-block(type='submit', value='Search Flights')