extends layout

block header

block content

		.container

			form
		
				input.form-control(type='text', placeholder='Airline')
				br
				
				.ro-input-group
					input.form-control(type='text', placeholder='Leaving from...')
					input.form-control(type='text', placeholder='Traveling to..')
