extends layout

block header

	include nav

block content

		.container.ro-with-nav
			
			include logos/american-logo.jade
			p.lead
				//- em Employee
				em Buddy Pass, Family

			form(action="/search", method="POST")
				.input-group
					span.input-group-addon
						span.fa.fa-map-marker
					input.form-control(type='text', name="from", placeholder='Leaving from...', value="DFW")
				
				br

				.input-group
					span.input-group-addon
						span.fa.fa-map-marker
					input.form-control(type='text', name="to", placeholder='Traveling to..', value="LGA")
				
				br

			.ro-calendar.well.well-sm
				input(type="hidden", name="depart", value="2014-03-04")
				h1 Calendar here
				
			input.btn.btn-primary.btn-lg.btn-block(type='submit', value='Find Flights')