extends layout

block header
	.container
		img.logo(src='/assets/images/logo.png', alt='Roll Logo')
		br
		.well.well-sm
			p.lead Hey, Employee!
			p Sign up to search flights and add friends and family to your buddies list. 

block content
	.container
		form.ro-form-signin(action="/signup", method="post")
		
			.ro-input-group
				input.form-control(name="name", type='text',  placeholder='Name', autofocus='')
				input.form-control(name="email", type='text', placeholder='Airline email',  autofocus='')
	
			input.form-control(type='text', placeholder='Employee number')
			br
			select(name="airline").form-control
				option Delta
				option AA
		
			br
			button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign up
			p.text-center.ro-form-help Already a member? 
				a(href='/employee/login') Login here.    