extends layout

block header
    .container
      img.logo(src='/assets/images/logo.png', alt='Roll Logo')
      form.form-signin
        h2.form-signin-heading Get Rollin'.
        p.lead Hey employee, sign up for an account

block content
    .container
      form.form-signin(action="/signup", method="post")
        .input-group
          input.form-control(name="name", type='text',  placeholder='Name', required='', autofocus='')
          input.form-control(name="email", type='text', placeholder='Email', required='', autofocus='')
          input.form-control(name="password", type='password', placeholder='Password', required='', autofocus='')
          input.form-control(name="password_confirmation", type='password', placeholder='Confirmation', required='', autofocus='')
          select(name="airline")
            option Delta
            option AA
          //- input.form-control(type='email', placeholder='Work email', required='', autofocus='')

        // TODO: remove these brs
        br
        input.form-control(type='text', placeholder='Employee number', required='')
        br
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign up
