extends layout

block content
    .container
      img.logo(src='/assets/images/logo.png', alt='Roll Logo')
      form.form-signin(action="/signup", method="post")
        h2.form-signin-heading Get Rollin'.
        p.lead Hey employee, sign up for an account
        .input-group
          input.form-control(type='text', placeholder='Name', required='', autofocus='')
          input.form-control(type='email', placeholder='Work email', required='', autofocus='')
          
        // TODO: remove these brs
        br
        input.form-control(type='text', placeholder='Employee number', required='')
        br
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign up
