extends layout

block content
  include nav
  
  .container.ro-with-nav
    br
    p.text-center.lead AUS &rarr; NYC, Mar 3
    
    // TODO: remove brs, style it

    .alert.alert-danger.text-center.clearfix
      .col-xs-4
        span.lead.ro-lead-lg #{trip.available}
        br
        small Available
      .col-xs-4
        span.lead.ro-lead-lg #{trip.listed.length}
        br
        small Listed
      .col-xs-4
        span.lead.ro-lead-lg #{trip.capacity}
        br
        small Capacity
    hr
    .clearfix.text-center
      .col-xs-6.text-danger
        strong 3 
        | Ahead of you
      .col-xs-6.text-warning
        strong 4 
        | Same priority
    hr
    .well.well-sm.lead

      .clearfix.text-center
        .col-xs-1
          br
          i.fa.fa-clock-o&nbsp;&nbsp; 
        .col-xs-5
          small Depart
          br
          | 6:00am
          
        .col-xs-5
          small Arrive 
          br
          | 12:00pm
      hr

      .clearfix.text-center
        .col-xs-1
          i.fa.fa-times-circle&nbsp;&nbsp; 
        .col-xs-9.text-left
          | 1 stop at LGA
      hr
      .clearfix.text-center
        .col-xs-1
          i.fa.fa-plane&nbsp;&nbsp; 
        .col-xs-10.text-left
          | JetBlue Flight 232
      
    form(action="/listings", method="POST")
      button.btn.btn-lg.btn-primary.btn-block(type='submit') List Me
      //- button.btn.btn-lg.btn-danger.btn-block(type='submit') Remove from List

