extends layout

block content
  include nav
  
  .container.ro-with-nav

    h3.text-center AUS → NYC, Mar 3
    
    // TODO: remove brs, style it
    hr

    // If overbooked
    if trip.overbooked
      .text-danger.text-center
        i.fa.fa-warning.text-danger&nbsp;&nbsp; 
        | Overbooked
      br

    .alert.alert-danger.text-center.clearfix
      .col-xs-4
        | 5
        br
        small Available
      .col-xs-4
        | 6
        br
        small Listed
      .col-xs-4
        small 6:00am
        br
        small 100 seats
    
    .well.well-sm.lead
      i.fa.fa-plane&nbsp;&nbsp; 
      | Flight 232
      br
      i.fa.fa-clock-o&nbsp;&nbsp; 
      | 6:00am
      br
      i.fa.fa-map-marker&nbsp;&nbsp;
      | AUS → NYC
    
    button.btn.btn-lg.btn-primary.btn-block(type='submit') List Me